* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
	font-family: "Arial", sans-serif;
	font-size: 100%; /* make the browser font size 10px */
	height: 100%;
}
img, object {
	max-width: 100%;
	height: auto; 
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.temporarily-hidden {
	display: none;
}
.login-main-bg {
	background: #000 url(../images/login-bg.jpg) center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: fixed;
}
.login-transparent-bg {
	background: url(../images/transparent-bg-main.png) repeat;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
}
.login-box-outer {
	float: left;
	position: relative;
	left: 50%;
}
.login-box-inner {
	position: relative;
  left: -50%;
  float: left;
  width: 600px;
}
.login-box-header {
	width: 100%;
	float: left;
	background: #fff;
	padding: 0.8em 2em;
}
.logo {
	float: left;
	width: 50%;
}
.text-login {
	float: right;
	font-size: 1.375em;
	color: #662d91;
	width: 50%;
	text-align: right;
	font-weight: bold;
	padding-top: 0.8em;
}
.login-content {
	width: 100%;
	padding: 2em 0 1em 0;
	float: left;
	background: url(../images/login-transparent-bg.png) repeat;
}
.login-icon {
	width: 30%;
	float: left;
	text-align: right;
}
.login-field-lists {
	width: 70%;
	float: left;
	padding-left: 5em;
}
.input-username, 
.input-password, 
.submit-container {
	width: 85%;
	float: right;
	margin-bottom: 1em;
	margin-right: 15%;
}
.submit-container {
	width: 85%;
}
.login-username-textbox {
	width: 100%;
	height: 2.5em;
	float: right;
	background: #fff url(../images/icon-user.png) no-repeat 1em center;
	border: none;
	padding: 0 1em 0 3em;
	outline: none;

	font-size: 1em;

	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
.login-password-textbox {
	width: 100%;
	height: 2.5em;
	float: right;
	background: #fff url(../images/icon-lock.png) no-repeat 1em center;
	border: none;
	padding: 0 1em 0 3em;
	outline: none;

	font-size: 1em;

	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
.text-forgot-password {
	float: left;
	line-height: 2.5em;
	padding-left: 0.5em;
}
.text-forgot-password a {
	color: #8e8d8e;
	text-decoration: none;
	font-size: 1em;
}
.text-forgot-password a:hover {
	text-decoration: underline;
	color: #999;
}
.btn-login {
	width: 6em;
	height: 2.5em;
	float: right;
	color: #fff;
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
	background: #662d91;
	border: none;
	cursor: pointer;
	letter-spacing: 0.05em;

	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
}
.error-msg {
	font-size: 1em;
	color: #ff0000;
	text-align: center;
	width: 85%;
	padding-bottom: 1em;
}


/* listing form styles */

#wrapper {
	min-height: 100%;
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
	width: 100%;
	background: url(../images/form-page-bg-image.png) no-repeat;
	background-size: cover;
	background-position: bottom center;
	position: relative;
}
.main-content-area {
	width: 100%;
	min-height: 100%;
	/*height: 100%;*/
	float: left;
	background: url(../images/form-page-transparent-bg.png) repeat;
}
.header-section {
	width: 100%;
	background: #fc9b01;
	float: left;
}
.header-content {
	width: 62.500em;
	margin: auto;
}
.header-content-inner {
	width: 100%;
	float: left;
	background: #fc9b01;
	padding: 0;
}
.site-logo {
	float: left;
	padding: 0.3em 0;
}
.site-logo img {
	width: 8em;
}
.top-nav-section {
	float: right;
	width: 22.500em;
}
.top-nav-section p {
	color: #333;
	font-size: 0.8em;
	text-align: right;
	width: 100%;
	padding-bottom: 1em;
	padding-top: 0.8em;
}
.top-nav-section p span {
	color: #fc9b01;
	text-transform: capitalize;
}
.top-nav {
	width: 100%;
	float: right;
	text-align: right;
}
.top-nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 1.5em;
	font-size: 0.8em;
	color: #333;
	position: relative;
}
.top-nav ul li a {
	color: #333;
	text-decoration: none;
}
.top-nav ul li ul {
	width: 130px;
	position: absolute;
	top: 2em;
	left: 0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
	display: none;
	z-index: 2;
}
.top-nav ul li ul li {
	width: 100%;
	text-align: left;
	margin-left: 0;
	padding-top: 0.5em;
	border-bottom: 1px solid #ccc;
}
.top-nav ul li ul li a {
	color: #666;
	padding: 0.8em 0 0.8em 0.8em;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
}
.top-nav ul li ul li a:hover {
	text-decoration: none;
	color: #fc9b01;
}
.navigation-container {
	width: 100%;
	float: left;
	background: #fc9b01;
}
.navigation {
	width: 62.500em;
	margin: auto;
}
.content-container {
	width: 62.500em;
	margin: auto;
}
.content-container.width50 {
	width: 50%;
}
.content-container.width40 {
	width: 40%;
}
.content-container.width60 {
	width: 60%;
}
.content-container.width70 {
	width: 70%;
}
.content-container.width80 {
	width: 80%;
}
.content-container.width90 {
	width: 90%;
}
.content-area {
	width: 100%;
	float: left;
	padding-top: 2em;
	margin-bottom: 2em;
}
.content-area h1 {
	color: #fff;
	font-size: 1.3em;
	padding-bottom: 1.5em;
}
.filters-and-search {
	float: right;
	padding-bottom: 1em;
}
.filters-textbox {
	float: left;
	width: 13.750em;
	position: relative;
}
.filter-text-box {
	width: 100%;
	height: 2.5em;
	background: #fff url(../images/icon-filter.png) no-repeat 0.3em center;
	padding-left: 2em;
	color: #333;
	font-size: 0.8em;
	font-weight: normal;
	border: 1px solid #fc9b01;

	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}
.auto-complete-dropdown {
	position: absolute;
	left: 0;
	right: 0;
	top: 2.5em;
}
.auto-complete-dropdown ul {
	background: #fff;
	width: 100%;
	float: left;
}
.auto-complete-dropdown ul li {
	width: 100%;
	float: left;
	padding: 0.4em 0 0.4em 0.5em;
	border-bottom: 1px solid #ccc;
}
.search-textbox {
	float: left;
	width: 16.875em;
	margin-left: 1em;
}
.search-text-box {
	width: 70%;
	height: 2.5em;
	background: #fff url(../images/icon-search.png) no-repeat 0.3em center;
	padding-left: 2em;
	color: #333;
	font-size: 0.8em;
	font-weight: normal;
	border: 1px solid #fc9b01;

	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}
.btn-search {
	width: 23%;
	height: 2.5em;
	background: #fc9b01;
	cursor: pointer;
	color: #333;
	font-size: 0.8em;
	text-align: center;
	border: none;
	outline: none;
	font-weight: bold;

	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}
.btn-add {
	width: 5.625em;
	float: left;
	height: 2.5em;
	line-height: 2.5em;
	background: #fc9b01 url(../images/icon-plus.png) no-repeat 0.5em center;
	cursor: pointer;
	color: #333;
	font-size: 0.8em;
	text-align: left;
	border: none;
	outline: none;
	padding-left: 2.5em;
	font-weight: bold;

	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}
.grid-table {
	width: 100%;
	float: left;
	padding-bottom: 1em;
}
.grid-table table{
	width: 100%;
}
.grid-table table tr th {
	background: #662d91;
	height: 2.5em;
	vertical-align: middle;
	font-size: 0.9em;
	color: #fff;
	padding-left:0.5em;
}
.grid-table table tr td {
	font-size: 0.8em;
	color: #333;
	height: 2.3em;
	vertical-align: middle;
	padding-left:0.5em;
}
.grid-table table tr td input[type=button] {
	font-size:0.9em;
}
.grid-table table tr td img {
	/*width: 1em;*/
	cursor: pointer;
}
.grid-table table tr td img.inactive {
	/*width: 1em;*/
	cursor: default;
}
.grid-table table tr:nth-child(even) {
	background: #f1e9f6;
}
.grid-table table tr:nth-child(odd) {
	background: #fff;
}
.pagination-section {
	width: 100%;
	float: left;
}
.current-records-count {
	float: left;
	color: #fc9b01;
	font-size: 0.8em;
}
.pagination-container {
	float: right;
}
.pagination-container span.prev a, .pagination-container span.prev a:hover {
	background: #f1f2f2;
	padding: 0.4em 0.8em;
	border: 1px solid #c7c7c7;
	color: #666;
	text-decoration: none;
	font-size: 0.8em;
}
.pagination-container span.prev.disabled a, .pagination-container span.prev.disabled a:hover {
	background: #f1f2f2;
	padding: 0.4em 0.8em;
	border: 1px solid #c7c7c7;
	color: #999;
	text-decoration: none;
	font-size: 0.8em;
}
.pagination-container span.next a, .pagination-container span.next a:hover {
	background: #f1f2f2;
	padding: 0.4em 0.8em;
	border: 1px solid #c7c7c7;
	color: #666;
	text-decoration: none;
	font-size: 0.8em;
}
.pagination-container span.next.disabled a, .pagination-container span.next.disabled a:hover {
	background: #f1f2f2;
	padding: 0.4em 0.8em;
	border: 1px solid #c7c7c7;
	color: #999;
	text-decoration: none;
	font-size: 0.8em;
}
.pagination-container span.page a {
	background: #fff;
	padding: 0.4em 0.8em;
	border: 1px solid #fff;
	color: #666;
	text-decoration: none;
	font-size: 0.8em;
}
.pagination-container span.page a:hover {
	background: #f1f2f2;
	padding: 0.4em 0.8em;
	border: 1px solid #c7c7c7;
	color: #666;
	text-decoration: none;
	font-size: 0.8em;
}
.pagination-container span.page.active a, .pagination-container span.page.active a:hover {
	background: #f1f2f2;
	padding: 0.4em 0.8em;
	border: 1px solid #c7c7c7;
	color: #666;
	text-decoration: none;
	font-size: 0.8em;
}

.add-container {
	width: 100%;
	float: left;
	background: #fff;
	padding: 0.3em;

	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
}
.add-container h2 {
	width: 100%;
	float: left;
	background: #f1e9f6;
	font-size: 1em;
	color: #000;
	padding: 0.5em 0.5em 0.5em 1em;
	margin-bottom: 0.2em;

	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;	
}
.add-container-heading {
	width: 100%;
	float: left;
	background: #662d91;
	font-size: 1em;
	color: #fff;
	padding: 0.5em 0.5em 0.5em 1em;
	margin-bottom: 0.2em;

	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;	
}
.input-row-left {
	width: 48%;
	float: left;
	padding-left: 2%;
	padding-top: 1%;
}
.input-row-right {
	width: 48%;
	float: right;
	padding-right: 2%;
	padding-top: 1%;
}
.input-row, .single-column-input-row {
	width: 100%;
	float: left;
	padding-bottom: 1.0em;
}
.field-label {
	font-size: 0.8em;
	color: #333;
	text-align: right;
	width: 45%;
	margin-right: 5%;
	float: left;
	padding-top: 0.8em;
}
.field-input {
	width: 50%;
	float: left;
}
<<<<<<< 31d2c88db8d8639ad0282b92492a7240147eedf2
.input-label {
	font-size: 0.8em;
	color: #333;
	text-align: left;
	width: 45%;
	margin-right: 5%;
	float: left;
	padding-top: 0.8em;
}
=======
>>>>>>> a17908462b90c27497d8aadf091152c143d519da
.input-box {
	width: 85%;
	height: 2.0em;
	background: #dadada;
	padding: 0em 0.5em;
	border: 1px solid #999;

	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
textarea.input-box{
	height: 80px;
}
.single-column-field-label {
	font-size: 0.8em;
	color: #333;
	text-align: right;
	width: 35%;
	margin-right: 5%;
	float: left;
	padding-top: 0.6em;
}
.single-column-field-input {
	width: 50%;
	float: left;
}
.auto-box {
	background: #dadada url(../images/icon-search.png) no-repeat right 0.5em center;
}
.submit-button-container {
	width: 100%;
	float: left;
	text-align: center;
	padding-bottom: 1em;
}
.btn-cancel, .btn-submit {
	padding: 0.4em 1em;
	background: #662d91;
	font-size: 0.8em;
	color: #fff;
	cursor: pointer;
	border: none;
	outline: none;

	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
.single-column-form-outer {
	position: relative;
	left: 50%;
	width: 40%;
	height: 100px;
	float: left;
	margin-top: 2em;
}
.single-column-form-outer.width50 {
	width: 50%
}
.single-column-form-outer.width60 {
	width: 60%
}
.single-column-form-outer.width70 {
	width: 70%
}
.single-column-form-outer.width80 {
	width: 80%
}
.single-column-form-outer.width90 {
	width: 90%
}
.single-column-form-outer.width100 {
	width: 100%
}
.single-column-form-inner {
	position: relative;
	left: -50%;
	float: left;
	background: #fff;
	padding: 0.5em;

	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
}
.single-column-header {
	width: 100%;
  float: left;
  background: #662d91;
  font-size: 1em;
  color: #fff;
  padding: 0.5em 0.5em 0.5em 1em;
  margin-bottom: 1em;

	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}
<<<<<<< 31d2c88db8d8639ad0282b92492a7240147eedf2
.error-message {
=======
#error-message {
>>>>>>> a17908462b90c27497d8aadf091152c143d519da
	text-align: right;
	font-size: 0.75em;
	color: #fc9b01;
	float: right;
}
.footer, .push {
	height: 60px; /* .push must be the same height as .footer */
}
.footer {
	width: 100%;
	float: left;
	background: #000;
	color: #ccc;
	text-align: center;
	line-height: 60px;
	font-size: 0.8em;
	font-weight: normal;
	position: relative;
	z-index: 2;
}
.icon-autocomplete {
	background: #dadada url(../images/auto-complete-arrow.png) no-repeat 95% center;
}
.filter-text-box {
	width: 95%;
	height: 25px;
	border: 1px solid #999;
	padding-left: 20px;
	padding-right: 5px;
	outline: none;
	background: #fff url(../images/icon-filter.png) no-repeat 0.2em center;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}


.location-details {
	width: 60%;
	margin-left: 25%;
	margin-top: 2em;
	float: left;
	color: #fff;
}
.location-textbox {
	width: 50%;
	height: 30px;
	font-family: "Arial", sans-serif;
	font-size: 0.9em;
	padding: 0 0.5em;
	outline: none;
}
.label-text {
	width: 35%;
	line-height: 30px;
 	padding-right: 1em;
 	color: #000;
}
.btn-save {
	width: 15%;
	height: 30px;
	display: inline-block;
	background: #fc9b01;
	color: #fff;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	font-size: 0.9em;
	margin-left: 0.5em;

	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	border-radius: 0.3em;
}

.location-list {
	width: 80%;
	float: left;
	background: #cdcdcd;
	margin-top: 1em;
	margin-bottom: 2em;
}
.location-list table {
	width: 100%;
}
.location-list table tr td {
	vertical-align: middle;
	padding: 0.5em 0;
	color: #000;
	font-size: 0.9em;
}
.location-list table tr th {
	background: #662d91;
	height: 40px;
	vertical-align: middle;
	color: #fff;
	padding: 0 1em;
}
.location-list table tr td.location-name {
	padding-left: 1em;
	color: #000;
}
.location-list table tr td img {
	width: 1em;
	cursor: pointer;
}
.location-list table tr:nth-child(even) {
	background: #f1e9f6;
}
.location-list table tr:nth-child(odd) {
	background: #fff;
}
.form-container-outer {
	width: 100%;
	float: left;
	background: #fff;
}
.form-container-grid-table {
	width: 100%;
	float: left;
}
.form-container-grid-table table {
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.form-container-grid-table table tr th {
	background: #EAE8E8;
	height: 20px;
	vertical-align: middle;
	color: #000;
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 0.5em;
	border-right: 1px solid #aaa;
}
.form-container-grid-table table tr td {
	height: 30px;
	vertical-align: top;
	padding-left: 0.5em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	border-right: 1px solid #ccc;
	font-size: 0.8em;

}
.form-container-grid-table table tr td ul {
	width: 97%;
<<<<<<< 31d2c88db8d8639ad0282b92492a7240147eedf2
	height:200px;
	overflow-y:scroll; 
=======
>>>>>>> a17908462b90c27497d8aadf091152c143d519da
}
.form-container-grid-table table tr td ul li {
	padding-bottom: 0.5em;
	font-size: 0.9em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-right: 0.3em;
}
<<<<<<< 31d2c88db8d8639ad0282b92492a7240147eedf2

.form-container-grid-table table tr td ul li a{
	text-decoration: none;
	color:black;
	width:100%;
	height:100%;	
}

.form-container-grid-table table tr td ul li a:hover{
	background: #EAE8E8;	
}

=======
>>>>>>> a17908462b90c27497d8aadf091152c143d519da
.form-container-grid-table table tr td ul li.active {
	background: #f1e9f6 url(../images/tick.png) no-repeat right center;
	background-size: 1.3em;
	border-right: 3px solid #f1e9f6

}
.listview
{
	list-style:disc; line-height:25px;
<<<<<<< 31d2c88db8d8639ad0282b92492a7240147eedf2
=======
}
label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 4px 0 5px 0px;
    padding: 0;
    text-align: left;
    width: 220px;
    font-size: 10px;
>>>>>>> a17908462b90c27497d8aadf091152c143d519da
}