{% extends "files/desktop/Header/Header.html" %}
{% block content %}
  <div class="content-container width60" >
  <div class="content-area">
      <h1>Task / Activity Data List</h1>
      <div class="filters-and-search">
      <div class="btn-add"  onclick="location.href='/task/create/0'" formtarget="_self">Add</div>
    </div>
      <div class="clearfix"></div>
      <div class="grid-table">
      <table>
        <tr align="left">
          <th align="center">#</th>
          <th>Task/Activity Name</th>
          <th>Activity Type</th>
          <th>Authority</th>
          <th>Repeats</th>
          <th align="center">Edit</th>
          <th align="center">Delete</th>
        </tr>
        <tr>
          <td align="center"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td><input type="text" class="filter-text-box"></td>
          <td align="center"></td>
          <td align="center"></td>
        </tr>
        {% for datatable in data_list %}
          <tr>
            <td align="center">1</td>
            <td>Registration</td>
            <td>One Time</td>
            <td>Authority 1</td>
            <td>Once</td>
            <td align="center"><a href="#"><img src="/images/icon-edit.png" id="editid" /></a></td>
            <td align="center"><a href="#"><img src="/images/icon-delete.png" id="deleteid" /></a></td>
          </tr>
        {% endfor %}
        </table>
    </div>
      
    </div>
</div>
{% endblock %} 